<!-- loading django jinja syntax static stylings -->
{% load static %}
<!-- this is a static style -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/shopcss/shop.css' %}" />
{% endblock %}
<nav class="navbar navbar-expand-lg navbar-light bg-outline">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img
        src="{% static 'icons/logo.png' %}"
        alt="shop icon header"
        class="shopicon" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
        <li class="nav-item">
          <a class="nav-link active text-nav" aria-current="page" href="#"
            >Categories</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-nav" href="#">Brands</a>
        </li> -->
        <li class="nav-item dropdown text-nav">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Brands
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item text-nav">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li> -->
      </ul>
      <form class="d-flex dyn-s-form">
        <input
          class="form-control me-2 search-form"
          type="search"
          placeholder="Search"
          aria-label="Search" />
        <button class="btn btn-outline text-nav" type="submit">
          <img
            src="{% static 'icons/search.png' %}"
            alt="search icon"
            class="search-icon" />
        </button>
      </form>
      <!-- authentication gateways -->
      <div class="d-flex auth-gateway">
        {% if user.is_authenticated %}
        <button class="d-flex btn btn-warning auth-button">
          <!-- <img
            src="{% static 'icons/logout.png' %}"
            alt="logout button for user" /> -->
          Logout
        </button>
        {% else %}
        <button
          class="d-flex btn btn-primary auth-button"
          aria-label="Login to continue shopping">
          <!-- <img
            src="{% static 'icons/login.png' %}"
            alt="login logo"
            class="login-image" /> -->
          Login
        </button>
        {% endif %}
        <!-- shopping cart bag -->
        <button class="d-flex shopping-cart btn btn-outline">
          <img
            src="{% static 'icons/shop.png' %}"
            alt="shopping cart bag icon"
            class="d-flex shopping-bag" />
        </button>
        <!-- shopping cart math calculations -->
        <p class="d-flex cart-math">1</p>
      </div>
    </div>
  </div>
</nav>
